@{
    ViewData["Titulo"] = "GoLesson";
    ViewData["SubTitulo"] = "O que somos";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Title</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body">
                        Start creating your amazing application!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>