<div class="row align-items-stretch">
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <div>
            <!-- Início do texto de introdução -->
            <h1 class="text-bold text-dark text-center" style="font-size: 6rem">GoLesson</h1>
            <span style="display: block; text-align: center; margin-top: 1rem; font-weight: bold">O Seu Destino para o Aprendizado Personalizado!</span>
            <br />
            <p class="ml-4 text-dark text-bold">
                Aqui, você encontrará um mundo de oportunidades de aprendizado personalizado. Nossa plataforma está disponível para ajudá-lo a atingir seus objetivos educacionais e desenvolver novas habilidades. Explore, descubra e comece sua jornada de aprendizado conosco hoje mesmo!
            </p>
        </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-content-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="5000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/lib/Resources/imagens/studentdark.jpg" class="d-block w-100 h-100" style="object-fit: cover" alt="Students">
                    <div class="carousel-caption">
                        <h3>Alunos</h3>
                        <p class="color: #D9D9D9">
                            <strong>
                                Encontre aulas personalizadas e aprenda no seu próprio ritmo.
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/lib/Resources/imagens/teaching.jpg" class="d-block w-100 h-100" style="object-fit: cover" alt="Students">
                    <div class="carousel-caption">
                        <h3>Professores</h3>
                        <p>
                            <strong>
                                Crie conteúdos envolventes e construa uma comunidade de alunos dedicados.
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/home.js"></script>
}