@using Microsoft.AspNetCore.Identity;
@using Domain.Entities;
@inject UserManager<Usuario> UserManager
@{
}


<aside class="main-sidebar sidebar-dark-success bg-success elevation-4">
    <a asp-action="Index" asp-controller="Home" class="brand-link elevation-4 bg-success d-flex align-items-center">
        <img src="~/lib/Resources/icones/hat.png" alt="GoLesson" class="brand-image img-size-32" width="32px" height="32px" style="opacity: .7">
        <span class="brand-text font-weight-light ml-2">GoLesson</span>
    </a>
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/Resources/Fotos/@UserManager.FindByEmailAsync(User.Identity.Name).Result.Foto" width="32px" height="32px" class="img-circle" alt="User Image">
                </div>
                <div class="info">
                    <a asp-action="Profile" asp-controller="Usuario" asp-route-id="@UserManager.FindByEmailAsync(User.Identity.Name).Result.Id" class="d-block text-dark">@UserManager.FindByEmailAsync(User.Identity.Name).Result.NomeCompleto</a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/lib/Resources/icones/user.png" width="32px" height="32px" class="img-circle bg-success" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block text-dark"><strong>Visitante</strong></a>
                </div>
            </div>
        }

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" class="nav-link">
                        <i class="nav-icon fa fa-solid fa-house-user"></i>
                        <p class="text-dark">
                            <strong>Página Inicial</strong>
                            <span></span>
                        </p>
                    </a>
                </li>
                @if (!User.IsInRole("Professor"))
                { 
                    <li class="nav-item">
                    <a asp-action="Index" asp-controller="Cursos" class="nav-link">
                        <i class="nav-icon fa fa-solid fa-graduation-cap"></i>
                        <p class="text-dark font-bolder">
                            <strong>Cursos</strong>
                            <span class="right badge badge-danger"></span>
                        </p>
                    </a>
                </li>
                }
                
                @if (User.IsInRole("Aluno") && User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-action="MyCourses" asp-controller="Cursos" asp-route-id="@UserManager.FindByEmailAsync(User.Identity.Name).Result.Id" class="nav-link">
                            <i class="nav-icon fa fa-solid fa-house-user"></i>
                            <p class="text-dark">
                                <strong>Meus Cursos</strong>
                                <span></span>
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Professor") && User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-action="MeuCurso" asp-controller="Cursos" asp-route-id="@UserManager.FindByEmailAsync(User.Identity.Name).Result.Id" class="nav-link">
                            <i class="nav-icon fa fa-solid fa-house-user"></i>
                            <p class="text-dark">
                                <strong>Meu Curso</strong>
                                <span></span>
                            </p>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a asp-action="SobreNos" asp-controller="Home" class="nav-link">
                        <i class="nav-icon fa fa-solid fa-house-user"></i>
                        <p class="text-dark">
                            <strong>Sobre Nos</strong>
                            <span></span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
