@model Application.ViewModels.RegistroViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex justify-content-center align-items-start" style="min-height: 100vh;">
    <div class="register-box">
        <div class="register-logo">
            <a asp-action="Index" asp-controller="Home"><b>Go</b>Lesson</a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Criar Nova Conta</p>
                <form action="../../index.html" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="NomeCompleto" aplaceholder="Nome Completo">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" asp-for="ConfirmarEmail" placeholder="Confirmar Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" asp-for="Senha" placeholder="Senha">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" asp-for="ConfirmarSenha" placeholder="Confirmar Senha">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    Concordo com o <a href="#">termo</a>
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="col-12">
                            <button type="submit" class="btn btn-success btn-block">Registrar</button>
                        </div>

                    </div>
                </form>
                <div class="social-auth-links text-center">
                    <p>- OU -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Entre com o Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google mr-2"></i>
                        Entre com o Google
                    </a>
                </div>
                <a asp-action="Index" asp-controller="Login" class="text-center">Já possuo uma conta</a>
            </div>

        </div>
    </div>
</div>