@{
    ViewData["Titulo"] = "Meus Cursos";
}


<section class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/lib/Resources/logo/cursophoto.png" alt="curso" />
                    </div>

                    <div class="card-footer">
                        <a class="card-title text-success" href="#">Nome Curso</a>
                        <p class="card-text small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <button type="button" class="btn btn-success">Saiba Mais</button>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/lib/Resources/logo/cursophoto.png" alt="curso" />
                    </div>
  
                    <div class="card-footer">
                        <a class="card-title text-success" href="#">Nome Curso</a>
                        <p class="card-text small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                    <select class="star-rating">
                        <option value="">Select a rating</option>
                        <option value="5">Excellent</option>
                        <option value="4">Very Good</option>
                        <option value="3">Average</option>
                        <option value="2">Poor</option>
                        <option value="1">Terrible</option>
                    </select>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/lib/Resources/logo/cursophoto.png" alt="curso" />
                    </div>

                    <div class="card-footer">
                        <a class="card-title text-success" href="#">Nome Curso</a>
                        <p class="card-text small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <button type="button" class="btn btn-success">Saiba Mais</button>
                </div>
            </div>

        </div>
    </div>

</section>

<script>
    const contentDivs = document.querySelectorAll('.card-footer');
    const maxLength = 590;

    contentDivs.forEach(contentDiv => {
        const contentText = contentDiv.querySelector('p').textContent;

        if (contentText.length > maxLength) {
            const trimmedText = contentText.slice(0, maxLength);

            contentDiv.querySelector('p').innerText = `${trimmedText} [...]`;
        }
    })

    var stars = new StarRating('.star-rating');

</script>