@model Application.ViewModels.RegistroViewModel;
<div class="col-lg-12 row">
    <div class="col-lg-6 mb-4">
        <div class="card position-relative">
            <img src="~/lib/Resources/imagens/studentdark.jpg" class="card-img-top img-fluid" alt="Aluno">
            <div class="card-overlay"></div>
            <div class="card-body d-flex flex-column justify-content-end text-white">
                <h2 class="card-title">Seja um professor</h2>
                <p class="card-text">Compartilhe seu conhecimento e atraia alunos para a GoLesson.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div style="min-height: 100vh;">
            <div class="card">
                <div class="card-body register-card-body">
                    <h1 class="login-box-msg"><strong>Seja um Professor</strong></h1>
                    <form asp-action="CreateTeacher" asp-controller="Usuario" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Dados Pessoais</p>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" asp-for="NomeCompleto" placeholder="Nome Completo" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control" asp-for="DataNasc" placeholder="Data de Nascimento" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="DataNasc" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <select asp-for="Genero" class="form-select" asp-items="@(new SelectList(ViewBag.Generos, "Id", "NomeGenero"))" required>
                                        <option value="" selected readonly>Selecione</option>
                                    </select>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-venus-mars"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Genero" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input type="tel" class="form-control" asp-for="Telefone" id="telefone" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                                <p>Endereço</p>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" asp-for="CodigoPostal" id="cep">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-map-marker-alt"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" asp-for="Logradouro" placeholder="Logradouro" id="rua" readonly>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-street-view"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" asp-for="Numero" placeholder="Nº">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-hashtag"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" asp-for="Bairro" id="bairro" placeholder="Bairro" readonly>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-city"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" asp-for="UF" id="uf" placeholder="Estado" readonly>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-flag"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" asp-for="Cidade" id="cidade" placeholder="Cidade" readonly>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-city"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>Email e Senha</p>
                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <input type="email" class="form-control" asp-for="Email" id="emailInput" placeholder="Email" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                    </div>
                                    <span id="emailError" class="error-text text-danger"></span>
                                </div>

                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" asp-for="ConfirmarEmail" placeholder="Confirmar Email" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="ConfirmarEmail" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="senha" asp-for="Senha" placeholder="Senha" required> 
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <span id="senhaErro" class="text-danger"></span>
                                <span asp-validation-for="Senha" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" asp-for="ConfirmarSenha" placeholder="Confirmar Senha" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                                <p>Imagem</p>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" name="imagem">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-image"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success btn-block">Registrar</button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Index" asp-controller="Login" class="text-center">Já possuo uma conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/register.js"></script>
}


