@model Application.ViewModels.UsuarioViewModel;
<h1>Registro de Conta</h1>
<form action="/cadastrar" method="post">
    <label for="nomeCompleto">Nome Completo:</label>
    <input type="text" id="nomeCompleto" name="NomeCompleto" required><br>

    <label for="dataNascimento">Data de Nascimento:</label>
    <input type="date" id="dataNascimento" name="DataNascimento" required><br>

    <label for="genero">Gênero:</label>
    <select id="genero" name="Genero">
        <option value="">Selecione</option>
        <option value="1">Masculino</option>
        <option value="2">Feminino</option>
        <option value="3">Outro</option>
    </select><br>

    <label for="enderecoId">Endereço ID:</label>
    <input type="text" id="enderecoId" name="EnderecoId"><br>

    <label for="paisId">País ID:</label>
    <input type="text" id="paisId" name="PaisId"><br>

    <label for="cidadeId">Cidade ID:</label>
    <input type="text" id="cidadeId" name="CidadeId"><br>

    <label for="estadoId">Estado ID:</label>
    <input type="text" id="estadoId" name="EstadoId"><br>

    <input type="submit" value="Registrar">
</form>



