@model Application.ViewModels.CursoViewModel;

<form asp-action="Create" asp-controller="Cursos" method="post">
    <div class="form-group">
        <label asp-for="NomeCurso"></label>
        <input asp-for="NomeCurso" class="form-control" />
        <span asp-validation-for="NomeCurso" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descricao"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoriaId"></label>
        <select asp-for="CategoriaId" asp-items="@(new SelectList(ViewBag.Categorias, "Id", "NomeCategoria"))" class="form-control">
            <option value="" selected readonly>Escolha a categoria</option>
        </select>
        <span asp-validation-for="CategoriaId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Valor"></label>
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="Acessibilidade" class="form-check-input" />
            <label asp-for="Acessibilidade" class="form-check-label"></label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

