@model Application.ViewModels.CursoViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <form method="post" asp-action="DeleteItem">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label for="Categoria.NomeCategoria">Nome da Categoria:</label>
            <input type="text" id="Curso.Nome" asp-for="NomeCurso" class="form-control" />
            <span asp-validation-for="NomeCurso" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-page="/Categoria/Index" class="btn btn-secondary">Voltar para a Lista</a>
    </form>
</div>
