@model Application.ViewModels.CursoViewModel
@{
    ViewData["Titulo"] = "Curso";
}
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                    <div class="col-12">
                        <img src="~/lib/Resources/logo/cursophoto.png" class="product-image" alt="Product Image">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="my-3">@Model.NomeCurso</h3>
                    <p>@Model.Descricao</p>
                    <hr>
                    <div class="bg-secondary py-2 px-3 mt-4">
                        <h2 class="mb-0">
                            R$ @Model.Valor
                        </h2>
                    </div>
                    <div class="mt-4">
                        <div class="btn btn-success btn-lg btn-flat">
                            <a href="https://buy.stripe.com/28o9CT8496DZ0CY003" style="text-decoration: none; color: white">
                                <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                Comprar
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>

                    </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">@Model.Descricao</div>
                </div>
            </div>

        </div>
</section>